.label {
	-fx-padding: 5.0px;
    -fx-min-width: 200.0;
    -fx-max-width: 2000.0;
  	-fx-alignment: center;
}

#controlArea {
    -fx-spacing: 20.0px;
    -fx-padding: 5.0px;
    -fx-border-color: green;
    -fx-border-width: 2.0px;
}

.button: hover{
	-fx-background-color: orange;
	
	
}
.button {
	-fx-background-radius: 30.0;
    -fx-background-insets: 0.0;
}

.player {
	-fx-font-size:20.0px;
	-fx-padding: 5.0px;
    -fx-border-width: 2.0px;
    -fx-background-image: url("https://cdn.webshopapp.com/shops/237596/files/221922146/800x1024x1/vision-street-wear-vision-color-griptape-sheet-9-x.jpg");
	-fx-background-size: 850.0;

}

.card {
  	-fx-font-size: 18.0px;
	-fx-padding: 2.0px;
    -fx-border-color: green;
    -fx-border-width: 1.0px;
	-fx-background-color: white;
    -fx-min-width: 50.0;
    -fx-max-width: 500.0;
    -fx-min-height: 80.0;
    -fx-max-height: 800.0;
}

